<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="./user-account.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="assets/images/coin-2.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">Multi-Currency Transfer Portal</h1>
                    <h4>Account Type</h4>
                    <br>
                  
                
                    <div [hidden]="submitted" style="width: 400px;">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <label for="accounttype"><span class="req">* </span>Account Type: </label>

                                        <select name="accounttype" id="accounttype"  [(ngModel)]="accounttype">
                                            <option value="Multi-Currency">Multi-Currency</option>
                                            <option value="Single-Currency">Single-Currency</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <label for="basecurrency"><span class="req">* </span>Base Currency Type: </label>

                                        <select name="basecurrency" id="basecurrency" [(ngModel)]="basecurrency">
                                            <option value="USD">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="GBP">GBP</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

<br>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-lg-7">
                                        <!-- <input class=" btn1 mt-3 mb-5" type="submit" name="submit_reg" value="Register"
                                            (click)="registerNow()"> -->
                                        <button class="btn  btn-success">Submit</button>
                                      
                                    </div>
                                </div>
                             
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>